*.tmp
build/
.gradle/
.nb-gradle/

**/nbproject/private/
nbbuild/
dist/
nbdist/

.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties
**/build/