*.tmp
build/

**/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties
**/build/